<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <head>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="logout">logout</a></li>
            {% else %}
            <li> <a href="login">Login or signup</a></li>
            {% endif %}
        </ul>
    </head>


<h1 class="m">Hello world</h1>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beeaware</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <!-- Create a header with a logo and a navigation menu -->
    <div class="header">
        <div class="logo">Beeaware</div>
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <!-- Create a main section with a content container -->
    <div class="main">
        <div class="content">
            <!-- Create a main heading, a subheading and a button -->
            <h1>Welcome to Beeaware</h1>
            <p>Creating Ethical superheroes of tommorrow</p>

            <!-- <button onclick="window.location.href = 'main_page.html';">Open local page</button> -->
            {% if user.is_authenticated %}
            <button onclick="window.location.href = 'logout';">logout</button>
            <!-- <li><a href="">logout</a></li> -->
            {% else %}
            <!-- <li> <a href="login">Login or signup</a></li> -->
            <button onclick="window.location.href = 'login';">login</button>
            {% endif %}
        </div>
    </div>
</body>
</html>
