<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        h3{
            color: red;
        }
    </style>
</head>
<body>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    <h1>login now</h1>

    <form action="login" method="POST" >
        {% csrf_token %}
    <p>Username</p>
    <input type="text" name="username"/>
    <p>passcode</p>
    <input type="password" name="password"/> <br>
    <input type="submit"/>
</form>
</body>
</html>